In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from pandas_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, LassoCV, Ridge, RidgeCV, ElasticNet, ElasticNetCV, LinearRegression
from statsmodels.stats.outliers_influence import variance_inflation_factor
%matplotlib inline

In [82]:
df = pd.read_csv("ai4i2020.csv")
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [83]:
df.shape

(10000, 14)

In [84]:
# remove first 3 columns because its not gonna useful for me.
df = df[list(df.columns[3:9])]
df.head()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure
0,298.1,308.6,1551,42.8,0,0
1,298.2,308.7,1408,46.3,3,0
2,298.1,308.5,1498,49.4,5,0
3,298.2,308.6,1433,39.5,7,0
4,298.2,308.7,1408,40.0,9,0

# Preprocess the data

In [85]:
# check if null value exist or not if exist do necceary operation
# like implutation or remove record
df.isnull().sum()

Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
dtype: int64

In [86]:
x = df[['Process temperature [K]',
       'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Machine failure']]
y = df["Air temperature [K]"]

In [99]:
x_train, x_test, y_train, y_test = train_test_split(x.values, y, test_size=0.25, random_state=500)

In [102]:
# Standardize data
scaler = StandardScaler()

In [104]:
arr1 = scaler.fit_transform(x_train)
arr1

array([[-1.42187775, -1.31583039,  1.39070877, -0.86860668, -0.18181818],
       [ 1.55366735, -1.21543823,  1.34077786, -1.02553388, -0.18181818],
       [-0.7456175 , -0.52942513,  1.31081932, -0.38213237, -0.18181818],
       ...,
       [ 0.606903  , -0.70790008,  0.89139975, -1.24523196, -0.18181818],
       [-0.13698328, -0.35652752,  0.0525606 , -0.75875765, -0.18181818],
       [-2.50389415, -0.16689788, -0.41678988, -0.74306493, -0.18181818]])

In [105]:
vif = pd.DataFrame()
vif["Column"] = x.columns
vif["VIF"] = [variance_inflation_factor(arr1, i) for i in range(arr1.shape[1])]

In [106]:
vif

                    Column       VIF
0  Process temperature [K]  1.001242
1   Rotational speed [rpm]  4.520777
2              Torque [Nm]  4.689483
3          Tool wear [min]  1.010974
4          Machine failure  1.122018

In [107]:
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [108]:
lr.coef_

array([ 1.17774447e+00, -2.16013105e-04, -5.87031015e-03, -6.05885513e-05,
        6.50778081e-01])

In [109]:
lr.intercept_

-64.54722196023528

In [ ]:
test1 = scaler.transform([[]])